@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans:wght@600&family=Roboto:wght@100;500&display=swap');

body {
    background-color:rgb(44, 2, 2);
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    height: 8vw;
}

#logo {
    position: relative;
    height: 9vw;
    left: 100px;
    width: 10vw;
    transition-duration: 0.1s;
    bottom: 0.8vw;
}

.nav-bar {
    list-style: none;
}

nav {
    display: flex;
    gap: 5vw;
    justify-content: flex-end;
    position: relative;
    bottom: 6.5vw;
    right: 9vw;
}

nav > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    display: block;
}

a:hover {
    color: rgb(197, 171, 21);
    transition-duration: 0.5s;
}

#img-conteudo {
    position: relative;
    width: 100%;
    height: 50vw;
    background-size: cover;
}

.conteudo {
    position: relative;
    text-shadow: 3px 3px 0px black;
}

.titulo {
    position: absolute;
    bottom: 33vw;
    z-index: 1;
    text-align: center;
    transform: translate(34vw, 10vw);
}

.title {
    color: white;
    font-size: 3vw;
    letter-spacing: 2vw;
}

.button {
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border-radius: 5vw;
    height: 3vw;
    width: 12vw;
    display: inline-block;
    white-space: nowrap;
    font-size: 1vw;
    border-color: rgba(0, 0, 0, 0.527);
}

.button:hover {
    background-color: rgb(209, 177, 33);
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}

#sessao {
    background-color:rgb(44, 2, 2);
    padding: 3vw;
}

.img-historia {
    width: 50vw;
    position: relative;
    left: 24vw;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.527);
}

.img-cardapio {
    padding: 2vw;
    border-radius: 50%;
    height: 15vw;
}

.title-cardapio {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 3vw;
}

#sessao2 {
    background-color: azure;
    text-align: center;
    width: 50vw;
    position: relative;
    left: 25vw;
    border-radius: 15px;
    padding: 16px;
    margin: 2vw;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.527);
}

.itens {
    font-size: 1.5vw;
    font-weight: 500;
}

#espaco-salad {
    text-indent: -10px;
}

#espaco-croassant {
    text-indent: -11px;
}

#espaco-lasagna {
    text-indent: -10px;
}

#sessao3 {
    background-color: black;
    text-align: center;
}

#contatos {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  textarea {
    resize: none;
    height: 150px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .contatos {
    color: white;
  }

  .logo-contatos {
    position: relative;
    height: 10vw;
  }

  footer {
    background-color: black;
    height: 7vw;
  }

  .rodape {
    text-align: center;
    color: white;
    position: relative;
    padding: 3vw;
  }
  
  #franqueado {
    text-decoration: none;
    color: white;
  }

  #franqueado:hover {
    color: black;
  }

  .itens {
    text-indent: 2em;
  }

 #burguer {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 3vw;
    display: block;
    top: 2.3vw;
    left: 93.5vw;
    margin: auto;
    
    }

  #burguer:hover {
    color: rgb(197, 171, 21);
  }

  #voltar {
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 24px;
    cursor: pointer;
    background-color: #000000;
    text-shadow: none;
    color: #fff;
    font-size: 3vw;
    border-radius: 50px;
    text-decoration: none;
  }
  

@media screen and (max-width: 600px) {
   #img-conteudo {
    width: 100vw;
    height: 180vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center top;
   }
  }

@media screen and (max-width: 600px) {
    .title {
        position: absolute;
        font-size: 8vw;
        right: -10vw;
        bottom: 35vw;
    }
}

@media screen and (max-width: 600px) {
    .button {
        width: 45vw;
        height: 10vw;
        left: 0vw;
        font-size: 0.9em;
        position: relative;
        bottom: 25vw;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    nav > li > a {
        font-size: 0.9em;
        bottom: 5vw;
        position: relative;  
        right: 3vw; 
    }
}

@media screen and (max-width: 600px) {
    #logo {
        position: relative;
        left: 4vw;
        height: 7vh;
        width: 16vw;
    }
}

@media screen and (max-width: 600px) {
    .img-historia {
        width: 100%;
        left: 0.1px;
    }
}

@media screen and (max-width: 600px) {
    #sessao2 {
        width: 90vw;
        left: 7px;
    }
}

@media screen and (max-width: 600px) {
    .itens {
        font-size: 3.5vw;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    .title-cardapio {
        font-size: 6vw;
    }
}

@media screen and (max-width: 600px) {
    .sessao2 {
        width: 93%;
    }
}

@media screen and (max-width: 600px) {
    #burguer {
        position: absolute;
        top: 3.7vw;
        left: 90vw;
        font-size: 35px;
    }
}

@media screen and (min-width: 600px) {
    #burguer {
        display: none;
    }

    nav > li > a {
        display: block;
    }
}

@media screen and (max-width: 412px) {
    #burguer {
        top: 2.8vw;
    }
}

@media screen and (max-width: 600px) {
    .cabecalho {
        height: 15vw;
    }
}

@media screen and (max-width: 412px) {
    nav > li > a {
        font-size: 0.8em;
        bottom: 6vw;
    }
}

@media screen and (max-width: 600px) {
    #voltar {
        display: none;
    }
}